body {
  margin: 0;
  font-family:'comic-sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Droid Sans',
    monospace;
}
